{% load static %}
<html>
<title>LOGO</title>
<body background="{% static 'imgs/blue.jpg' %}">
  <p align="right"><font face="Arial Black " size =4 color="white">Follow Us On:</font>
  <br>	
  <a href= "#"><img  width =50 height=30 src="{% static 'imgs/insta.png' %}" align="right"></a>
    <space size=40>
    <a href= "#">   <img width =50 height=30 src="{% static 'imgs/facebook.jpg' %}"  align="right"></a>
    <space size=40>
     <a href= "#">  <img width =50 height=30  src="{% static 'imgs/pinterest.png' %}"  align="right"></a>
     <space size=40>
    <a href= "#"> <img width =50 height=30 src="{% static 'imgs/g1.png' %}"  align="right"></a>


</body>
</html>