{% load static %}
<html>
<title>BASE</title>
<frameset rows="10%,*" framespacing="0">
<frame name="logo" src="{% url 'Pg:backg1' %}"  frameborder="0" scrolling=no>
<frameset rows="20%,*" framespacing="0">
<frame name="log1" src="{% url 'Pg:logo1' %}" frameborder="0" scrolling=no>
<frameset rows="6%,*" framespacing="0">
<frame name="logo" src="{% url 'Pg:backg2' %}" frameborder="0" scrolling=no>
<frameset rows="100%,*" framespacing="0">
<frame name="navbar" src="{% url 'Pg:q' %}" frameborder="0" scrolling=yes>
</frameset>
</html>






